<div class="container center">
    <form *ngIf="this.profileViewing.user"> 
        <div id="title">Profile View Page</div>
        <div class = "profile-info">
        <img [src]="profileViewing.pictureUrl" alt="Profile Pics" id="profilePic">
        <div>Profile Id: {{profileViewing.id}}</div>
        <div>Profile Picture Url: {{profileViewing.pictureUrl}}</div>
        <div>Username: {{profileViewing.user.username}}</div>
        <div>Email: {{profileViewing.user.email}}</div>
        <div>First Name: {{profileViewing.firstName}}</div>
        <div>Middle Init: {{profileViewing.middleInit}}</div>
        <div>Last Name: {{profileViewing.lastName}}</div>
        <div>Birthday: {{profileViewing.birthday}}</div>
        <div>City: {{profileViewing.city}}</div>
        <div>State: {{profileViewing.state}}</div>
        <div>About Me: {{profileViewing.aboutMe}}</div>
        <button *ngIf="buttonOn" (click)="updateProfile()" id="updatebutton">Update Profile</button>
        </div>
    </form>
</div>
