.the-user{
    animation:bouncy 5s infinite linear;
    position:relative;
    display:inline-block;
    padding:0.3em 1.2em;
    margin:0 0.3em 0.3em 0;
    border-radius:2em;
    box-sizing: border-box;
    text-decoration:none;
    font-family:'Roboto',sans-serif;
    font-weight:300;
    color:#FFFFFF;
    background-color:#4eb5f1;
    text-align:center;
    transition: all 0.2s;
    }
    a.button3:hover{
    background-color:#4095c6;
    }
    @media all and (max-width:30em){
    a.button3{
    display:block;
    margin:0.2em auto;
    }
    }
    @keyframes bouncy {
    0%{top:0em}
    40%{top:0em}
    43%{top:-0.9em}
    46%{top:0em}
    48%{top:-0.4em}
    50%{top:0em}
    100%{top:0em;}
}
.item{
    color: yellow;
    font-size: larger;
    font-weight: bolder;
    display: flex;
    justify-content: space-evenly;
    background-color: lightblue;
    border: 2px solid black;
    height: 50px;
    width: 700px;
    border-radius: 10px;
    margin-top: 10px;
    padding-top: 10px;
    margin-left: 150px;
      /* Center the content */
align-items: center;
display: flex;
justify-content: center;
font-size: x-large;

/* Border */
border: 24px solid rgba(0, 0, 0, 0.3);
border-radius: 0px 50% 50% 50%;


/* Size */
height: 300px;
width: 400px;
display: flex;
margin-left: 800px;

/* Center the content */
align-items: center;
display: flex;
justify-content: center;
font-size: x-large;

 }


