<div class="container center">
    <form *ngIf="this.profile.user">
        <div id="title">Create/Update Profile Page</div>
        <div>
            Profile Picture:
            <input type="file" (change)="addFile($event)" id="fileInput"/>
            <img [src]="picture ? fileUrl : profile.pictureUrl" alt="Profile Pics" id="profilePic">
        </div>
        <div>
            First Name:
            <input type="text" placeholder="{{profile.firstName}}" [(ngModel)]="profile.firstName" id="firstName" [ngModelOptions]="{standalone: true}">
        </div>
        <div>
            Middle Initial:
            <input type="text" placeholder="{{profile.middleInit}}" [(ngModel)]="profile.middleInit" id="middleInit" [ngModelOptions]="{standalone: true}">
        </div>
        <div>
            Last name:
            <input type="text" placeholder="{{profile.lastName}}" [(ngModel)]="profile.lastName" id="lastName" [ngModelOptions]="{standalone: true}">
        </div>
        <div>
            Birthday:
            <input type="text" placeholder="{{profile.birthday}}" [(ngModel)]="profile.birthday" id="birthday" [ngModelOptions]="{standalone: true}">
        </div>
        <div>
            City:
            <input type="text" placeholder="{{profile.city}}" [(ngModel)]="profile.city" id="citys"[ngModelOptions]="{standalone: true}">
        </div>
        <div>
            State:
            <input type="text" placeholder="{{profile.state}}" [(ngModel)]="profile.state" id="state" [ngModelOptions]="{standalone: true}">
        </div>
        <div>
            About You:
            <textarea rows="20" cols="50" placeholder="{{profile.aboutMe}}" [(ngModel)]="profile.aboutMe" id="aboutMe" [ngModelOptions]="{standalone: true}"></textarea>
        </div>
        <div *ngIf="this.errorM">{{this.errorM}}</div>
        <button class = "update-prof" (click)="updateProfile()" id="updateButton">Update Profile</button>
    </form>
</div>
