body{
    height: 105vh;
    background-image: url(https://www.seekpng.com/png/full/9-99035_water-tribe-avatar-water-tribe-symbol.png);
    background-color: rgb(77, 140, 221); 
    background-repeat: no-repeat;
    background-position: center;
    background-size:contain;
}
